@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>This is the ELSYS course about .NET . In general the participants will learn about how to build C# console applications, ASP.NET MVC web applications and C# mobile applications and games with the help of Unity or other game engine. The course will start with the foundations of building an app and will countinue to the more advanced stuff like what is OOP and how to use files and databases. Also there will be teamwork projects for the end of the course.</p>
