@{
    ViewData["Title"] = "Contacts";
}
<h2>@ViewData["Title"].</h2>

<div class="col-lg-4">
    <div class="well">
        <img class="img-circle" src="~/images/Valentin.jpg" alt="Valentin Yonev" width="140" height="140">
        <h2>Valentin Yonev</h2>
        <p>Bla bla bla. Some silly text. Nesi will hande that</p>
        <p><a class="btn btn-primary" href="http://www.facebook.com/oklav" role="button">Facebook</a></p>
    </div>
</div>

<div class="col-lg-4">
    <div class="well">
        <img class="img-circle" src="~/images/Martin.jpg" alt="Martin Dimitrov" width="140" height="140">
        <h2>Martin Dimitrov</h2>
        <p>Bla bla bla. Some silly text. Nesi will hande that</p>
        <p><a class="btn btn-primary" href="http://www.facebook.com/martin.dimitrov.714" role="button">Facebook</a></p>
    </div>
</div>

<div class="col-lg-4">
    <div class="well">
        <img class="img-circle" src="~/images/Vanesa.jpg" alt="Vanesa Stoinova" width="140" height="140">
        <h2>Vanesa Stionova</h2>
        <p>Bla bla bla. Some silly text. Nesi will hande that</p>
        <p><a class="btn btn-primary" href="http://www.facebook.com/vanesa.stoinova" role="button">Facebook</a></p>
    </div>
</div>
