@{
    ViewData["Title"] = "Program";
}
<h2>@ViewData["Title"].</h2>
<div>
	<table class="table table-striped">	
		<thead>
			<tr>
				<th>
					#
				</th>
				<th>
					Lecture name
				</th>
				<th>
					Date
				</th>
				<th>
					Lecturer
				</th>
			</tr>
		</thead>	
		<tr>
			<td>
				0
			</td>
			<td>
				Introduction to C# and .NET
			</td>
			<td>
				23.11.2015 || 26.11.2015
			</td>
			<td>
				Valentin Yonev
			</td>
		</tr>
		<tr>
			<td>
				1
			</td>
			<td>
				Variables and working with the console
			</td>
			<td>
				TBA
			</td>
			<td>
				Martin Dimitrov
			</td>
		</tr>
		<tr>
			<td>
				2
			</td>
			<td>
				Condition constructs and loops
			</td>
			<td>
				TBA
			</td>
			<td>
				Antonio Mindov
			</td>
		</tr>
		<tr>
			<td>
				3
			</td>
			<td>
				Strings
			</td>
			<td>
				TBA
			</td>
			<td>
				Nikolay Milanov
			</td>
		</tr>
		<tr>
			<td>
				4
			</td>
			<td>
				Arrays
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev
			</td>
		</tr>
		<tr>
			<td>
				5
			</td>
			<td>
				Debugging
			</td>
			<td>
				TBA
			</td>
			<td>
				Nikolay Milanov
			</td>
		</tr>
		<tr>
			<td>
				6
			</td>
			<td>
				Functions + game pt. 1
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Martin Dimitrov
			</td>
		</tr>
		<tr>
			<td>
				7
			</td>
			<td>
				Working with files
			</td>
			<td>
				TBA
			</td>
			<td>
				Antonio Mindov
			</td>
		</tr>
		<tr>
			<td>
				8
			</td>
			<td>
				OOP (Objects and Structures) + game pt. 2
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Martin Dimitrov
			</td>
		</tr>
		<tr>
			<td>
				9
			</td>
			<td>
				OOP (Exception handling)
			</td>
			<td>
				TBA
			</td>
			<td>
				Martin Dimitrov
			</td>
		</tr>
		<tr>
			<td>
				10
			</td>
			<td>
				Lambda and LINQ
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev
			</td>
		</tr>
		<tr>
			<td>
				11
			</td>
			<td>
				OOP principles
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Antonio Mindov
			</td>
		</tr>
		<tr>
			<td>
				12
			</td>
			<td>
				OOP design patterns
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Antonio Mindov
			</td>
		</tr>
		<tr>
			<td>
				13
			</td>
			<td>
				HQC (High quality code) + game pt. 3
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Martin Dimitrov
			</td>
		</tr>
		<tr>
			<td>
				14
			</td>
			<td>
				Multi-platform development
			</td>
			<td>
				TBA
			</td>
			<td>
				Valentin Yonev && Nikolay Milanov
			</td>
		</tr>
		<tr>
			<td>
				15
			</td>
			<td>
			Testing code
			</td>
			<td>
				TBA
			</td>
			<td>
				Vanesa Stoinova
			</td>
		</tr>
		<tr>
			<td>
				16
			</td>
			<td>
				Track split - Web, Mobile, Desktop
			</td>
			<td>
				TBA
			</td>
			<td>
				Vanesa Stoinova && Martin Dimitrov
			</td>
		</tr>
	</table>
</div>